<div class="campanhas">
  <h1>CAMPANHAS</h1>

  <div>
    <div class="campanhas card">
      <img src="/img/tio-nacho.png" alt="Imagem da campanha">

      <h2>Tio Nacho</h2>

      <p>Cabelo saudável com poder da geleia real Tio Nacho.</p>

      <a href="#">Assistir</a>
    </div>

    <div class="campanhas card">
      <img src="/img/tio-nacho.png" alt="Imagem da campanha">

      <h2>Tio Nacho</h2>

      <p>Cabelo saudável com poder da geleia real Tio Nacho.</p>

      <a href="#">Assistir</a>
    </div>

    <div class="campanhas card">
      <img src="/img/tio-nacho.png" alt="Imagem da campanha">

      <h2>Tio Nacho</h2>

      <p>Cabelo saudável com poder da geleia real Tio Nacho.</p>

      <a href="#">Assistir</a>
    </div>

    <div class="campanhas card">
      <img src="/img/tio-nacho.png" alt="Imagem da campanha">

      <h2>Tio Nacho</h2>

      <p>Cabelo saudável com poder da geleia real Tio Nacho.</p>

      <a href="#">Assistir</a>
    </div>
  </div>
</div>