<div class="campanhas">
  <h1>CAMPANHAS</h1>

  <div class="campanhas-list">
    {{ range first 3 (where .Site.RegularPages.ByPublishDate.Reverse "Section" "campanhas") }}
    <div class="campanhas-card">
      <img src="{{ .Params.image }}" alt="Imagem da campanha Tio Nacho">

      <h2>{{ .Title }}</h2>

      <p>{{ .Description }}</p>

      <a class="button-link" href="{{ .Params.link }}">Assistir</a>
    </div>
    {{ end }}




    <div class="campanhas-card">
      <img src="img/assets/campanhas.png" alt="Imagem das campanha">

      <h2>Assista aos vídeos que estão na mídia</h2>

      <p>Confira aqui as novidades que você encontra na SantaCruz!</p>

      <a class="button-link" href="#" style="width: 20.2rem;">Ver todas as campanhas</a>
    </div>
  </div>
</div>