<div class="campanhas">
  <h1>CAMPANHAS</h1>

  <div class="campanhas-list">
    <div class="campanhas-card">
      <img src="/img/tio-nacho.png" alt="Imagem da campanha Tio Nacho">

      <h2>Tio Nacho</h2>

      <p>Cabelo saudável com poder da geleia real Tio Nacho.</p>

      <a class="button-link" href="#">Assistir</a>
    </div>

    <div class="campanhas-card">
      <img src="/img/forteviron.png" alt="Imagem da campanha Forteviron Anti-age">

      <h2>Forteviron Anti-age</h2>

      <p>Você melhor a cada dia!</p>

      <a class="button-link" href="#">Assistir</a>
    </div>

    <div class="campanhas-card">
      <img src="/img/Neutrogena.png" alt="Imagem da campanha">

      <h2>Neutrogena</h2>

      <p>Um novo SkinCare é possível. Não é achismo, é ciência.</p>

      <a class="button-link" href="#">Assistir</a>
    </div>

    <div class="campanhas-card">
      <img src="/img/campanhas.png" alt="Imagem das campanha">

      <h2>Assista aos vídeos que estão na mídia</h2>

      <p>Confira aqui as novidades que você encontra na SantaCruz!</p>

      <a class="button-link" href="#" style="width: 20.2rem;">Ver todas as campanhas</a>
    </div>
  </div>
</div>