<div class="destaques">
  <h1>DESTAQUES</h1>

  <div>
    <div class="destaques card">
      <img src="/img/devolucao-web.png" alt="Imagem de carrinho com caixas">

      <h2>Sistema de Devolução Web</h2>

      <p>Registre e acompanhe suas devoluções na internet. Faça seu cadastro agora mesmo.</p>

      <a href="#">Saiba mais</a>
    </div>

    <div class="destaques card">
      <img src="/img/nf-e.png" alt="Imagem NF-e">

      <h2>NF-e​</h2>

      <p>Tenha acesso ao sistema de armazenamento das NF-e.</p>

      <a href="#">Saiba mais</a>
    </div>

    <div class="destaques card">
      <img src="/img/sistema.png" alt="Imagem de notebook">

      <h2>SantaCruz digital</h2>

      <p>Ofertas, preços e lançamentos, tudo de maneira ágil e fácil.</p>

      <a href="#">Saiba mais</a>
    </div>

    <div class="destaques card">
      <img src="/img/licenca.png" alt="Imagem de caderno de anotações aberto">

      <h2>Licenças e Autorizações</h2>

      <p>Renove os documentos sanitários anualmente. Regularize seu cadastro.</p>

      <a href="#">Saiba mais</a>
    </div>
  </div>

</div>