<footer class="footer">
	<div>
		<div>
			<ul>
				<li><a href="/">INÍCIO</a></li>
			</ul>

			<ul>
				<li><a href="#">SANTA CRUZ</a></li>
				<li><a href="#">História</a></li>
				<li><a href="#">Missão, Visão e Valores</a></li>
				<li><a href="#">Código de Ética</a></li>
			</ul>

			<ul>
				<li><a href="#">ESTRUTURA</a></li>
				<li><a href="#">Centro de Distribuição</a></li>
				<li><a href="#">Área de Atuação</a></li>
				<li><a href="#">Fale Conosco</a></li>
				<li><a href="#">Tecnologia</a></li>
			</ul>
		</div>

		<div>
			<ul>
				<li><a href="#">PRODUTOS E SERVIÇOS</a></li>
				<li><a href="#">Oportunidades</a></li>
				<li><a href="#">Produtos</a></li>
				<li><a href="#">Revista</a></li>
				<li><a href="#">PLP</a></li>
				<li><a href="#">Lançamentos</a></li>
				<li><a href="#">Envio de Documentos</a></li>
			</ul>

			<ul>
				<li><a href="#">FORÇA DE VENDAS</a></li>
			</ul>
		</div>

		<div>
			<ul>
				<li><a href="#">PEDIDO ELETRÔNICO</a></li>
				<li><a href="#">Download</a></li>
				<li><a href="#">Suporte</a></li>
				<li><a href="#">Como Podemos Ajudar?</a></li>
				<li><a href="#">PLP</a></li>
				<li><a href="#">NFe</a></li>
				<li><a href="#">Devolução</a></li>
			</ul>

			<ul>
				<li><a href="/post">NOTÍCIAS</a></li>
			</ul>
		</div>

		<div>
			<ul>
				<li><a href="#">TRABALHE CONOSCO</a></li>
				<li><a href="#">Gente</a></li>
				<li><a href="#">Desenvolvimento</a></li>
				<li><a href="#">Depoimentos</a></li>
				<li><a href="#">Trabalhe com a Gente</a></li>
			</ul>
		</div>

		<div>
			<ul>
				<li>CONTATO</li>
				<li><a href="#">Entre em contato</a></li>
			</ul>
		</div>
	</div>

	<span>© Copyright 2008 - 2023 SantaCruz | Produzido por Add</span>
</footer>