<div class="lancamentos">
  <h1>Lançamentos</h1>

  <div>
    <div class="lancamentos card">
      <span>Cód.: 716713</span>

      <img src="/img/devolucao-web.png" alt="Imagem de carrinho com caixas">

      <h2>EUCERIN HYAL-FILL DB GEL CR 50G</h2>

      <p>Produto de uso noturno que ajuda a preencher as rugas mais profundas com u...</p>

      <a href="#">ver mais</a>
    </div>

    <div class="lancamentos card">
      <span>Cód.: 716713</span>

      <img src="/img/devolucao-web.png" alt="Imagem de carrinho com caixas">

      <h2>EUCERIN HYAL-FILL DB GEL CR 50G</h2>

      <p>Produto de uso noturno que ajuda a preencher as rugas mais profundas com u...</p>

      <a href="#">ver mais</a>
    </div>

    <div class="lancamentos card">
      <span>Cód.: 716713</span>

      <img src="/img/devolucao-web.png" alt="Imagem de carrinho com caixas">

      <h2>EUCERIN HYAL-FILL DB GEL CR 50G</h2>

      <p>Produto de uso noturno que ajuda a preencher as rugas mais profundas com u...</p>

      <a href="#">ver mais</a>
    </div>
    <div class="lancamentos card">
      <span>Cód.: 716713</span>

      <img src="/img/devolucao-web.png" alt="Imagem de carrinho com caixas">

      <h2>EUCERIN HYAL-FILL DB GEL CR 50G</h2>

      <p>Produto de uso noturno que ajuda a preencher as rugas mais profundas com u...</p>

      <a href="#">ver mais</a>
    </div>
    <div class="lancamentos card">
      <span>Cód.: 716713</span>

      <img src="/img/devolucao-web.png" alt="Imagem de carrinho com caixas">

      <h2>EUCERIN HYAL-FILL DB GEL CR 50G</h2>

      <p>Produto de uso noturno que ajuda a preencher as rugas mais profundas com u...</p>

      <a href="#">ver mais</a>
    </div>
    <div class="lancamentos card">
      <span>Cód.: 716713</span>

      <img src="/img/devolucao-web.png" alt="Imagem de carrinho com caixas">

      <h2>EUCERIN HYAL-FILL DB GEL CR 50G</h2>

      <p>Produto de uso noturno que ajuda a preencher as rugas mais profundas com u...</p>

      <a href="#">ver mais</a>
    </div>


  </div>

</div>