<div class="lancamentos">
  <div class="lancamentos-header">
    <h1>LANÇAMENTOS</h1>

    <a class="button-link" href="#">
      Ver tudo
      <img src="/img/assets/arrow-back-white.svg" alt="Icone de seta">
    </a>
  </div>

  <div class="lancamentos-list">

    {{ range first 6 (where .Site.RegularPages.ByPublishDate.Reverse "Section" "lancamentos") }}
    <div class="lancamentos-card">
      <span>Cód.: {{ .Params.code }}</span>

      <div class="lancamentos-image">
        <div>
          <img src="{{ .Params.image }}" alt="{{ .Params.title }}">
        </div>
      </div>

      <h2>{{ .Title }}</h2>

      <p>{{ .Description }}</p>

      <a href="#">
        ver mais
        <img src="/img/assets/arrow-expand.svg" alt="Icone de expandir">
      </a>
    </div>
    {{ end }}


    <!-- <div class="lancamentos-card">
      <span>Cód.: 716713</span>

      <div class="lancamentos-image">
        <div>
          <img src="/img/cetaphil.png" alt="Imagem do produto CETAPHIL HEALT SERUM OLHOS 15G">
        </div>
      </div>

      <h2>CETAPHIL HEALT SERUM OLHOS 15G</h2>

      <p>Sérum anti-idade que reduz rugas, linhas finas e olheiras, proporcionando...</p>

      <a href="#">
        ver mais
        <img src="/img/arrow-expand.svg" alt="Icone de expandir">
      </a>
    </div>

    <div class="lancamentos-card">
      <span>Cód.: 716713</span>

      <div class="lancamentos-image">
        <div>
          <img src="/img/valda.png" alt="Imagem do produto VALDA FRIENDS 25G">
        </div>
      </div>

      <h2>VALDA FRIENDS SEM AÇÚCAR 25G</h2>

      <p>Pastilha ideal para quem tem dor de garganta, rouquidão e quer ter um háli...</p>

      <a href="#">
        ver mais
        <img src="/img/arrow-expand.svg" alt="Icone de expandir">
      </a>
    </div>

    <div class="lancamentos-card">
      <span>Cód.: 716713</span>

      <div class="lancamentos-image">
        <div>
          <img src="/img/nivea.png" alt="Imagem do produto NIVEA PREENCH Q10 EXT ANTIS 15ML">
        </div>
      </div>

      <h2>NIVEA PREENCH Q10 EXT ANTIS 15ML</h2>

      <p>Desenvolvido para proporcionar redução das rugas e linhas de expressão, co...</p>

      <a href="#">
        ver mais
        <img src="/img/arrow-expand.svg" alt="Icone de expandir">
      </a>
    </div>

    <div class="lancamentos-card">
      <span>Cód.: 716713</span>

      <div class="lancamentos-image">
        <div>
          <img src="/img/hyalu.png" alt="Imagem do produto 8D HYALU+ SERUM 30ML">
        </div>
      </div>

      <h2>8D HYALU+ SERUM 30ML</h2>

      <p>Sérum fortalecedor diário que traz em sua formulação 8 diferentes tipos de...</p>

      <a href="#">
        ver mais
        <img src="/img/arrow-expand.svg" alt="Icone de expandir">
      </a>
    </div>

    <div class="lancamentos-card">
      <span>Cód.: 716713</span>

      <div class="lancamentos-image">
        <div>
          <img src="/img/fisiogel.png" alt="Imagem do produto FISIOGEL CR POTE 450G">
        </div>
      </div>

      <h2>FISIOGEL CR POTE 450G</h2>

      <p>Creme hidratante corporal de uso diário, desenvolvido especialmente para p...</p>

      <a href="#">
        ver mais
        <img src="/img/arrow-expand.svg" alt="Icone de expandir">
      </a>
    </div> -->
  </div>

</div>