<nav data-nav class="nav">
	<div>
		<a href="/">
			<img src="/img/assets/logo-sta-cruz.png" alt="Logo Santa Cruz" />
		</a>

		<div>
			<form action="/search" method="GET">
				<button type="submit">
					<img src="/img/assets/search.svg" alt="Logo Santa Cruz" />
				</button>
				<input class="searchbar" type="search" name="q" id="search-query" placeholder="O que você está buscando?">
			</form>

			<ul>
				<li><a href="#">Clientes</a></li>

				<li><a href="#">Fornecedores</a></li>

				<li><a href="#">Equipe SantaCruz</a></li>
			</ul>
		</div>
	</div>

	<div>
		<ul>
			<li><a href="/">Ínicio</a></li>
			<li><a href="#">Santa Cruz</a></li>
			<li><a href="#">Estrutura</a></li>
			<li><a href="#">Produtos e Serviços</a></li>
			<li><a href="#">Força de vendas</a></li>
			<li><a href="#">Pedido Eletrônico</a></li>
			<li><a href="/noticias">Notícias</a></li>
			<li><a href="#">Trabalhe Conosco</a></li>
			<li><a href="#">Contato</a></li>
		</ul>
	</div>
</nav>