<div class="noticias">
  <h1>ÚLTIMAS NOTÍCIAS</h1>

  <!-- <div class="noticias content">
    <div class="noticias card" style="background-image: url('/img/tio-nacho.png');">
      <h2>Farmácias: principal destino para a compra das categorias infantis</h2>

      <p>
        “A perspectiva é que ainda em 2023 o mercado tenha um crescimento de 6% em valor”
      </p>

      <div>
        <span>HOJE ÀS 08:30</span>
        <a href="#">Assistir</a>
      </div>
    </div>

    <div class="noticias card" style="background-image: url('/img/tio-nacho.png');">
      <h2>Farmácias: principal destino para a compra das categorias infantis</h2>

      <p>
        “A perspectiva é que ainda em 2023 o mercado tenha um crescimento de 6% em valor”
      </p>

      <div>
        <span>HOJE ÀS 08:30</span>
        <a href="#">Assistir</a>
      </div>
    </div>

    <div class="noticias card" style="background-image: url('/img/tio-nacho.png');">
      <h2>Farmácias: principal destino para a compra das categorias infantis</h2>

      <p>
        “A perspectiva é que ainda em 2023 o mercado tenha um crescimento de 6% em valor”
      </p>

      <div>
        <span>HOJE ÀS 08:30</span>
        <a href="#">Assistir</a>
      </div>
    </div>

  </div> -->
</div>