.destaques {
  width: 100%;
  max-width: 1272px;
  height: auto;

  padding: 48px 0px;
  margin: 0 auto;

  h1 {
    font-size: 1.8rem;
    color: var(--black);
    font-weight: 700;

    margin-bottom: 24px;
  }

  >div {
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 24px;
  }
}

.destaques.card {
  flex: 1;
  height: 30.3rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  padding: 24px 16px;

  box-shadow: 0px 15px 30px rgba(70, 73, 132, 0.15);

  text-align: center;

  h2 {
    font-size: 1.4rem;
    color: var(--black);
    font-weight: 700;
  }

  p {
    font-size: 1.4rem;
    color: var(--black);
    font-weight: 400;
  }

  img{
    width: 9.2rem;
    height: 9.2rem;
  }

  a {
    width: 10.7rem;
    height: 3.9rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 100px;

    text-decoration: none;
    font-size: 1.4rem;
    color: var(--white);
    font-weight: 700;

    background-color: var(--blue-button);
  }
}