.oportunidades {
  width: 100%;
  max-width: 1272px;
  height: auto;

  display: flex;
  flex-direction: column;

  padding-bottom: 48px;
  margin: 0 auto;

  h1 {
    font-size: 1.8rem;
    color: var(--black);
    font-weight: 700;

    margin-bottom: 24px;
  }

  a {
    width: 100%;
    height: auto;

    text-decoration: none;

    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0px 15px 30px rgba(70, 73, 132, 0.15);
    
    img {
      width: 100%;
      border-radius: 16px;
      object-fit: fill;

      box-shadow: 0px 15px 30px rgba(70, 73, 132, 0.15);
    }
  }
}
