.campanhas {
  width: 100%;
  max-width: 1272px;
  height: auto;

  padding-bottom: 48px;
  margin: 0 auto;

  h1 {
    font-size: 1.8rem;
    color: var(--black);
    font-weight: 700;

    margin-bottom: 24px;
  }
}

.campanhas-list {
    width: 100%;
    
    display: flex;
    align-items: center;
    // justify-content: space-between;

    gap: 24px;
}

.campanhas-card {
  flex: 1;
  max-width: 30rem;
  height: 35.1rem;

  display: flex;
  flex-direction: column;

  padding: 0px 0px 16px;

  box-shadow: 0px 15px 30px rgba(70, 73, 132, 0.15);
  border-radius: 16px;

  overflow: hidden;

  text-align: start;

  img{
    width: 100%;
    height: 17.5rem;

    object-fit: cover;

    margin-bottom: 24px;
  }

  h2 {
    font-size: 1.4rem;
    color: var(--black);
    font-weight: 700;

    margin-bottom: 8px;
    padding: 0px 16px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  p {
    font-size: 1.4rem;
    color: var(--black);
    font-weight: 400;

    margin-bottom: 24px;
    padding: 0px 16px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}