.ultimas-noticias {
  width: 100%;
  max-width: 1272px;
  height: auto;

  padding-bottom: 48px;
  margin: 0 auto;

  h1 {
    font-size: 1.8rem;
    color: var(--black);
    font-weight: 700;

    margin-bottom: 24px;
  }

  >div:first-of-type {
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 24px;
  }
}

.ultimas-noticias.card {
  flex: 1;
  height: 30.6rem;

  display: flex;
  // align-items: center;
  justify-content: flex-end;
  flex-direction: column;

  padding: 0px 0px 16px;

  background-size: cover;
  background-position: center;

  box-shadow: 0px 15px 30px rgba(70, 73, 132, 0.15);
  border-radius: 16px;

  overflow: hidden;

  text-align: start;

  h2 {
    font-size: 1.4rem;
    color: var(--white);
    font-weight: 700;

    margin-bottom: 8px;
    padding: 0px 16px;
  }

  p {
    font-size: 1.4rem;
    color: var(--white);
    font-weight: 400;

    margin-bottom: 24px;
    padding: 0px 16px;
  }

  div:first-of-type {
    align-items: center;
    span {
      font-size: 1.4rem;
      color: var(--white);
      font-weight: 400;
  
      margin-bottom: 24px;
      padding: 0px 16px;
    }
  
  
    a {
      width: 10.7rem;
      height: 3.9rem;
  
      display: flex;
      align-items: center;
      justify-content: center;
  
      border-radius: 100px;
      margin: 0px 16px;
  
      text-decoration: none;
      font-size: 1.4rem;
      color: var(--white);
      font-weight: 700;
  
      background-color: var(--blue-button);
    }
  }

}

.ultimas-noticias.card.gradient {
  width: 100%;
  height: 100%;

  // background-color: red;

  // background-color: linear-gradient(red, rgba(0,0,0,0.5));
}