{{ define "main" }}

<div class="search">
  <h1>Resultados</h1>
  <div>
    <div id="search-results" style="width: 100%;"></div>
    <div class="search-loading">Pesquisando...</div>

    <script id="search-result-template" type="text/x-js-template">
      <a href="${link}" id="summary-${key}" class="search-card">
      <h2>${title}</h2>
      <p>${snippet}</p>
      
    </a>
  </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.2.0/fuse.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/mark.min.js"></script>
    <script src="/search.js"></script>

  </div>
</div>
{{ end }}