{{ define "main" }}

<div class="posts single">
  <div class="posts single sections">
    <section>
      <h1>{{.Title}}</h1>
      <div>
        <p>{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
        <p>Read in {{ .ReadingTime }} minutes</p>
      </div>
      <div class="cms">
        <p>
          {{ .Description }}
          {{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}" />{{ end }}
        </p>
        {{ .Content }}
      </div>
    </section>

    <section>
      <h1>Últimas notícias</h1>
    </section>
  </div>

  {{ partial "ultimas-noticias" }}
</div>
{{ end }}