{{ define "main" }}

<div class="posts single">
  <div class="posts single sections">
    <section>
      <h1>{{.Title}}</h1>

      <span>{{ .Date | time.Format ":date_short" }} às {{ dateFormat "15:04 " .Date.UTC }}</span>

      <div class="cms">
        <p>
          {{ .Description }}
          {{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}" />{{ end }}
        </p>
        {{ .Content }}
      </div>
    </section>

    <section>
      <div class="post-single-list">
        <ul id="blog-list">
          <h1>Últimas notícias</h1>
          {{ range first 3 .Site.RegularPages.ByPublishDate.Reverse }}
          <li>
            <a href="{{ .RelPermalink }}">
              {{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}"
                style="width: 10.4rem;height: 10.4rem;" />{{ end }}
              <div>
                <h2>{{ .Title }}</h2>
                <p>{{ .Description }}</p>
                <span>{{ .Date | time.Format ":date_short" }} às {{ dateFormat "15:04 " .Date.UTC }}</span>
              </div>
            </a>
          </li>
          {{ end }}
        </ul>
        <a href="/post">
          Ver mais
          <img src="/img/arrow_back_ios.svg" alt="Icone de seta">
        </a>
      </div>
    </section>
  </div>
</div>

<div class="ultimas-noticias">
  <div class="ultimas-noticias-header">
    <h1>ÚLTIMAS NOTÍCIAS</h1>

    <a href="/post">
      Ver tudo
      <img src="/img/arrow-back-white.svg" alt="Icone de seta">
    </a>
  </div>

  <div class="ultimas-noticias-list">
    {{ range first 3 .Site.RegularPages.ByPublishDate.Reverse }}
    <div class="ultimas-noticias-background" style="background-image: url('{{ .Params.image }}');">
      <div class="ultimas-noticias-card">
        <h2>{{ .Title }}</h2>

        <p>
          {{ .Description }}
        </p>

        <div>
          <span>{{ .Date | time.Format ":date_short" }} às {{ dateFormat "15:04 " .Date.UTC }}</span>
          <a href="{{ .RelPermalink }}">Ver mais</a>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}